# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Semester 3 Fontys\CB-03-Project-Sioux-S3\Group project last version\S3-CB03-Group3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
